
<div class="container-fluid bg-body">
    <div class="row mt-2 pt-3">
        <div class="col-md-2 text-start bg-body">
            <div class=" d-flex" (click)="drawer.toggle()">
                <div class="bg-primary p-1 px-4 rounded-circle"><h1 class="pt-2 fw-bold">L</h1></div>
                <h2 class="pt-3 fw-bold">Logo</h2> 
            </div>
            <mat-drawer #drawer class="" mode="side">
                <ul class="mt-5">
                    <li class="nav-item"><a class="nav-link text-dark fw-bold" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" routerLink="/dashboard">Dashboard</a></li>
                    <li class="nav-item "><a class="nav-link text-muted fw-bold" routerLinkActive="active" routerLink="/classes">Classes</a></li>
                    <li class="nav-item"><a class="nav-link text-muted fw-bold" routerLinkActive="active" routerLink="/resources">Resources</a></li>
                    <li class="nav-item"><a class="nav-link text-muted fw-bold" routerLinkActive="active" routerLink="/learningplan">Learning Plan</a></li>
                    <li class="nav-item"><a class="nav-link text-muted fw-bold" routerLinkActive="active" routerLink="/chat">Chat</a></li>
                    <li class="nav-item"><a class="nav-link text-muted fw-bold" routerLinkActive="active" routerLink="/Settings">Settings</a></li>
                </ul>
            </mat-drawer>
        </div>
        <div class="col-md-8 bg-light pt-3">
            <div class=" row">
                <div class="col-md-6 text-start fs-6 fw-bold">Dashboard</div>
                <div class="col-md-6 ms-auto justify-content-end d-flex"> 
                    <p class="text-muted pe-3">{{today | date:'fullDate'}}</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </div>
            </div>
            <div class="mt-3  row mx-2 sec1 ">
                <div class="col-md-6">
                    <h4 class="ps-3 pt-5 text-danger fw-bold">Welcome Back Anna!</h4>
                    <p class="ps-3 pt-2">You have learned 80% of your goal this weak! <br>
                     keep it up & improve your results! </p>
                </div>
                <div class="col-md-6 justify-content-end">
                    <img src="../../assets/vec.jpg" class="" height="200px" width="100%" alt="">
                </div>
            </div> 
            <div class="row mt-4 d-flex justify-content-evenly ">
                <div class="col-md-4 bg-body" id="box1">
                    <div class="d-flex pt-2">
                        <p class="fw-bold text-start">Latest Result</p> 
                        <small class="ms-auto fw-bold">More
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                              </svg>
                        </small>
                    </div>
                    <div class="d-flex row pt-4">
                        <div class="col-6">
                             <p class="text-start">Unit 5 - <span class="text-muted">Technology</span></p> 
                        </div>
                        <div class="col-6 d-flex">
                            <mat-progress-bar class="ms-auto ps-5 mt-2" color="accent" mode="determinate" value="20"></mat-progress-bar>&nbsp;<p  class="fw-bold t1">25%</p>
                        </div>
                    </div>
                    <hr style="margin-top: -5px;">
                    <div class="d-flex row pt-1">
                        <div class="col-6">
                             <p class="text-start">Unit 12 - <span class="text-muted">Enology</span></p> 
                        </div>
                        <div class="col-6 d-flex">
                            <mat-progress-bar class="ms-auto ps-5 mt-2" color="primary" mode="determinate" value="30"></mat-progress-bar>&nbsp;<p class="fw-bold t2">44%</p>
                        </div>
                    </div>
                    <hr style="margin-top: -5px;">
                    <div class="d-flex row pt-1">
                        <div class="col-6">
                             <p class="text-start">Unit 9 - <span class="text-muted">Real Estate</span></p> 
                        </div>
                        <div class="col-6 d-flex">
                            <mat-progress-bar class="ms-auto ps-5 mt-2" color="primary" mode="determinate" value="23"></mat-progress-bar>&nbsp;<p  class="fw-bold t2">40%</p>
                        </div>
                    </div>
                    <hr style="margin-top: -5px;">
                    <div class="d-flex row pt-1">
                        <div class="col-6">
                             <p class="text-start">Unit 8 - <span class="text-muted">Education</span></p> 
                        </div>
                        <div class="col-6 d-flex">
                            <mat-progress-bar class="ms-auto ps-5 mt-2" color="accent" mode="determinate" value="5"></mat-progress-bar>&nbsp;<p  class="fw-bold t1">15%</p>
                        </div>
                    </div>
                    <hr style="margin-top: -5px;">
                    <div class="d-flex row pt-1">
                        <div class="col-6">
                             <p class="text-start">Unit 16 - <span class="text-muted">Job Market</span></p> 
                        </div>
                        <div class="col-6 d-flex">
                            <mat-progress-bar class="ms-auto ps-5 mt-2" color="primary" mode="determinate" value="40"></mat-progress-bar>&nbsp;<p  class="fw-bold t2">76%</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 bg-body " id="box2">
                    <div class="d-flex pt-2">
                        <p class="fw-bold text-start">Time Spend On Learning</p> 
                        <small class="fw-bold ms-auto">Last Weak
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                              </svg>
                        </small>
                    </div>
                    <div class="row">
                        <div>
                            <canvasjs-chart [options]="chartOptions" [styles]="{width: 'auto', height:'250px'}"></canvasjs-chart>    
                        </div>   
                    </div>
                </div>
            </div>
            <div class=" row  mt-4 mx-2">
                <div class="col d-flex ">
                   <p class="fw-bold text-start">Your Courses</p> 
                   <small class="ms-auto fw-bold ">More
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                    </small>
                </div>
            </div>
            <div class="row my-4 mx-2 justify-content-evenly">
                <div class="col-md-3  card1 px-3 pt-3">
                    <span class="d-flex">
                        <div class=" b1 text-light"><h4 class="px-3 pt-3">B2</h4></div>
                        <small class="text-muted pt-2">Business English</small>
                    </span>
                    <span class="d-flex text-light">
                        <p class="fw-bold text-light ps-5 t3">Grammer</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-auto t3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </span>
                </div>
                <div class="col-md-3 card2 px-3 pt-3">
                    <span class="d-flex">
                        <div class=" b2 text-light"><h4 class="px-3 pt-3">B2</h4></div>
                        <small class="text-muted pt-2">Common English</small>
                    </span>
                    <span class="d-flex text-light">
                        <p class="fw-bold text-light ps-5 t3">Phrasal Verbs</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-auto t3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </span>
                </div>
                <div class="col-md-3 card3 px-3 pt-3">
                    <span class="d-flex">
                        <div class=" b3 text-light"><h4 class="px-3 pt-3">C1</h4></div>
                        <small class="text-muted pt-2">Business Spanish</small>
                    </span>
                    <span class="d-flex text-light">
                        <p class="fw-bold text-light ps-5 t3">Vocabulary</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ms-auto t3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 pt-3">
            <div class="d-flex">
                <h5 class="text-start fs-6 fw-bold">Logout</h5>
                <div class="ms-auto text-muted">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                </div>
            </div>    
            <div class="row justify-content-center mt-5 pt-5">
                <div class="col text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="76" height="76" fill="currentColor" class="bi bi-person-circle text-muted" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <div matBadge="+" matBadgeOverlap="true" class="demo-section"></div>
                    <p class="mt-5 fw-bold fs-6">Anna Morrison <br>
                        <small class="text-muted fw-bold" id="t4">Student</small>
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 d-flex">
                    <div class="row">
                        <div class="col-3"><div class="b4 bg-light"><h4 class="p-2 fw-bold">B2</h4></div></div>
                        <div class="col-6"><div class="ps-2"><p class="fw-bold">English
                            <small class="text-muted">High Intermediats</small>
                        </p>
                            </div> </div>
                        <div class="col-3"><mat-progress-bar class="mt-3" mode="determinate" value="40"></mat-progress-bar></div>
                    </div>
                </div>
                <div class="col-12 d-flex mt-2 w-100">
                    <div class="row">
                        <div class="col-3"><div class="b4 bg-light"><h4 class="p-2 pe-4 fw-bold">C1</h4></div></div>
                        <div class="col-5"><div class="ps-2"><p class="fw-bold">Spanish
                            <small class="text-muted">Advanced</small>
                        </p>
                            </div> </div>
                        <div class="col-4"><mat-progress-bar class="mt-3" mode="determinate" value="50"></mat-progress-bar></div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col d-flex">
                    <p class="fw-bold">Reminders</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bell ms-auto" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                    <mat-icon matBadge="1" id="bell" matBadgeColor="warn"></mat-icon>
                </div>
                <div class="col-12 mt-4">
                    <div class="row justify-content-evenly">
                        <div class="col-3">
                            <div class="b3 px-3 pt-1">
                                <span class="fw-bold text-danger">!</span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="fw-bold">Eng - Vocabulary test
                                <small class="text-muted">24 Sep 2019,Friday</small>
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row justify-content-evenly">
                        <div class="col-3">
                            <div class="b2 px-3  py-2">
                                <span class="fw-bold text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 25 11">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                  </svg></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="fw-bold">Eng-Send grammer  <br>
                                <small class="text-muted">29 Sep 2019,Wednsday</small>
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row justify-content-evenly">
                        <div class="col-3">
                            <div class="b2 px-3  py-2">
                                <span class="fw-bold text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 25 11">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                  </svg></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <p class="fw-bold">Spanish - Sent essey
                                <small class="text-muted">5 Oct 2019,Monday</small>
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
